.mental-health-module-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  margin-top: 150px;
  margin-left: 100px;
}

.modulePages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 800px;
  margin-right: 200px;
  font-size: 20px;
}

.modulePages > * {
  cursor: pointer;
}

.langType {
  cursor: pointer;
}

.langType > span {
  font-size: 18px;
}
