/* src/App.css */

.mental-health-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mental-health-page div {
  font-size: 16px;
}

.mental-health-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.mental-health-page h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.mental-health-page p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.mental-health-page img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.mental-health-page iframe {
  width: 100%;
  height: 315px;
  margin-bottom: 20px;
}

.mental-health-page .image {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mental-health-page .textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.mental-health-page .youtubeVideo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.youtubeVideo,
.image > span {
  font-size: 16px;
  font-weight: bold;
}
